/*
h1 {
    color: cornflowerblue;
    background-color: lightpink;
    text-align: center;
    border: 5px seagreen solid;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
*/

h1 {
    color: cornflowerblue;
    font-size: 50px;
    border: 5px black solid;
    border-radius: 20px;
    border-style: dotted;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    background-color: lightpink;
    text-align: center;
    
}

h3 {
    text-align: center;
    color: slategray;
}

#important {
    color: green;
}

#click1 {
    background-color: lightblue;
    font-size: 2rem;
    color: blue;
    margin-left: auto ;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
    
}

#click2 {
    background-color: goldenrod;
    font-size: 2rem;
    color: whitesmoke;
    display: block;
    margin-left: auto ;
    margin-right: auto;
}

* {font-style: italic;}